.main {
  .card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;

    &__container {
      width: 300px;
      padding: 1em;
      border-radius: 15px;
      // border: 15px solid blue;
      margin: 10px;
      background: #ddd;
      text-align: center;
      box-shadow: 0px 5px 20px -10px #111111;
      position: relative;
      transition: 0.4s;
      background: linear-gradient(120deg, #1cb5e0 0%, #000851 100%);
      box-shadow: 0px 5px 20px -10px #000851;

      &:hover {
        z-index: 5;
        box-shadow: 0px 13px 30px -15px #000000;
        transform: translateY(-10px);
      }

      .avatar-img {
        background-color: #072d3b;
        text-align: center;
      }

      .content {
        background-color: #aed8e9;
        padding: 20px 10px;
        font-family: sans-serif;
        font-size: 18px;
      }
    }

    @media (max-width:1066px) {
      grid-template-columns: repeat(2, 1fr);
      
    }
    @media (max-width:650px) {
      grid-template-columns: repeat(1, 1fr);
      
    }
  }

  
}

.paginationBtn {
  width: 80;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 50px;

  a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #093f7e;
    color: #093f7e;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: #093f7e;
    }
  }
}

.paginationActive {
  a {
    color: white;
    background-color: #093f7e;
  }
}
